
.loader {
	position: absolute;
	top: 2000%;
	right: 20px;
	transform: translate(-50%,-50%);
	width: 100px;
	height: 100px;
	border: 4px solid transparent;
	border-bottom: 4px solid lighten(map-get($palette, gamma), 20%);
	border-top: 4px solid lighten(map-get($palette, delta), 20%);
    border-radius: 50%;
    opacity: 0;
    transition: opacity 1s ease;
    &__wrapper {
        position: relative;
        height: 10px;
    }
    &:before {
        content: '';
        position: absolute;
        top: 10px;
        left: 10px;
        bottom: 10px;
        right: 10px;
        border: 4px solid transparent;
        border-bottom: 4px solid lighten(map-get($palette, alpha), 20%);
        border-top: 4px solid lighten(map-get($palette, beta), 20%);
        border-radius: 50%; 
    }
    &:after {
        content: '';
        position: absolute;
        top: 25px;
        left: 25px;
        bottom: 25px;
        right: 25px;
        border: 4px solid transparent;
        border-bottom: 4px solid #ffffff;
        border-top: 4px solid #be90d4;
        border-radius: 50%;
    }
}

.animate-loader {
    animation: loaderanimation 3s linear infinite;
}

.show-loader {
    opacity: 1;
}

@keyframes loaderanimation {

	0%{
		transform: rotate(0deg);

	}
	100%{
		transform: rotate(360deg);
	}

}