@mixin button-color($color-name: base) {
    $colors: map-get($button-colors, $color-name);
    color: map-get($colors, text) !important;
    border-color: map-get($colors, border);
    box-shadow: 0 0 0 map-get($colors, border) inset;
    @include hover-state($active: true) {
        box-shadow: 0 2px 0 map-get($colors, border) inset;
    }
    &:active {
        background-color: rgba(map-get($colors, border), .1);
    }
    .legacy-hybrid-theme & {
        color: white !important;
        @include hover-state($active: true) {
            box-shadow: none;
            background-color: darken(#19a773, 10%);
        }
    }
}

@mixin button($sides: 2em) {
    display: inline-block;
    padding: 1em $sides;
    border-radius: 0;
    outline: 0;
    line-height: 1;
    cursor: pointer;
    vertical-align: middle;
    transition: box-shadow .2s, background-color .2s;
    position: relative;
    letter-spacing: .1em;
    z-index: map-get($layers, base);
    text: {
        decoration: none !important;
        overflow: ellipsis;
        align: center;
        transform: uppercase;
    }
    font: {
        size: map-get($button-font, size);
        family: map-get($button-font, family);
    }
}

.button {
    @include button;
    @include button-color;
    @include bp(tablet) {
        margin: 0;
        + .button {
            margin-left: 1em;
        }
    }
    @include bp(tablet, true) {
        display: table;
        margin-left: auto;
        margin-right: auto;
        + .button {
            margin-top: .5em;
        }
    }
    &.cta_button {
        box-sizing: inherit !important;
    }
    @each $name, $colors in $button-colors {
        @if ($name != base) {
            &--#{$name} {
                @include button-color($name);
            }
        }
    }
}
.hs_submit {
    text-align: center;
    .actions {
        @include button;
        @if map-has-key( $base-colors, hs-button ) {
            @include button-color(map-get($base-colors, hs-button));
        }
        .hs-button {
            padding: inherit;
            text-transform: inherit;
            margin: -1em -2em;
            cursor: inherit;
            color: inherit;
            font-family: inherit;
            background-color: transparent;
            background-image: none;
            border: 0;
            outline: none;
            position: relative;
            z-index: map-get($layers, middle);
            @include bp(tablet, true) {
                margin: -1em;
            }
        }
    }
}


/*=======================================
  BUTTONS
========================================*/
.btn {
  @include button;
}

button {
    @include button;
}
.button--small {
  font-size: .7em;
  background-color: #dd6379;
  padding: .2em .6em;
  margin: 0;
}
  .btn:hover {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }

/*=============================
  BUTTON TYPES
==============================*/
.download-btn {
  color: #fff;
  background-color: #111111; }
  .download-btn:hover {
    color: #fff;
    background-color: #363636; }

.social-btn {
  color: #fff;
  background-color: #252525; }
  .social-btn:hover {
    color: #fff;
    background-color: #363636; }

